.card-modal-bg{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 20svw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid var(--black);
    background: rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.3s ease-in-out;
    z-index: 1000;
}