.bottomsheet-bg {
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 999;
}

.bottomsheet-backdrop {
  background-color: #000;
  opacity: 0.5;
  animation: fade-in 0.5s;
}

.bottomsheet-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--gap-xl);
  width: 100%;
  color: var(--clr-gray-100);
  background-color: var(--clr-gray-300);
  border-radius: var(--br-lg) var(--br-lg) 0 0;
  animation: slide-up 0.5s;
}

.bottomsheet-header {
  margin-bottom: var(--gap-xl);
}

.bottomsheet-title {
  color: var(--clr-primary);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-primary);
}

.bottomsheet-close-div {
  padding: var(--gap-sm);
  border: none;
  border-radius: var(--br-full);
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.bottomsheet-close-div:hover {
  background-color: var(--clr-gray-200);
}

.bottomsheet-close-icon {
  width: 16px;
  height: 16px;
}

.disabled-bottomsheet {
  pointer-events: none;
  cursor: not-allowed;
}
