.card-bg {
  padding: var(--gap-lg);
  border-radius: var(--gap-base);
  background-color: var(--clr-gray-300);
}

.card-title {
  color: var(--clr-primary);
  font-size: var(--fs-xl);
  font-weight: 700;
}

.card-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--clr-white);
  font-size: var(--fs-lg);
  font-weight: 500;
}

.card-timestamp {
  color: var(--clr-gray-100);
  font-size: var(--fs-base);
  font-weight: 500;
}
