.card-bg {
  padding: var(--gap-lg);
  border-radius: var(--gap-base);
  background-color: var(--clr-gray-300);
  border: 2px solid var(--clr-gray-300);
  transition: all 0.3s ease-in-out;
}

.card-bg:hover{
  border-color: var(--clr-gray-200);
}

.card-title {
  color: var(--clr-primary);
  font-weight: var(--font-weight-bold);
}

.card-content {
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--clr-white);
  font-size: var(--fs-lg);
}

.card-timestamp {
  color: var(--clr-gray-100);
  font-size: var(--fs-md);
}

.pin-icon {
  color: var(--clr-gray-200);
  font-size: var(--fs-xl);
}

.pin-icon:hover,
.pin-active {
  color: var(--clr-gray-100);
}