.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-red {
  color: #f00;
  font-size: var(--fs-md);
  font-weight: var(--font-weight-semibold);
}

.btn-primary {
  color: var(--clr-black);
  background-color: var(--clr-primary);
}

.btn-dark {
  color: var(--clr-white);
  background-color: var(--clr-black);
}

.btn-light {
  color: var(--clr-black);
  background-color: var(--clr-white);
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
