.confirmation-text {
  font-size: var(--fs-lg);
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-primary);
  line-height: var(--gap-2xl);
}

.dialog-btn {
  padding: var(--gap-base) var(--gap-xl);
}
