.dialog-bg {
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
}

.dialog-backdrop {
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  animation: fade-in 0.5s;
}

.dialog-container {
  padding: var(--gap-xl);
  width: min(90%, 400px);
  color: var(--clr-gray-100);
  background-color: var(--clr-gray-300);
  border-radius: var(--br-lg);
  z-index: 999;
}

.dialog-header {
  margin-bottom: var(--gap-xl);
}

.dialog-title {
  color: var(--clr-primary);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-primary);
}

.dialog-close-div {
  padding: var(--gap-sm);
  border: none;
  border-radius: var(--br-full);
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.dialog-close-div:hover {
  background-color: var(--clr-gray-200);
}

.dialog-close-icon {
  width: 16px;
  height: 16px;
}
