header {
  box-sizing: border-box;
  padding: 1rem 2rem;
  min-width: 100svw;
  min-height: fit-content;
  background-color: var(--dark-blue);
  border-bottom: 2px solid var(--white);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: var(--white);
  border: 2px solid var(--white);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}

.header-profile-div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-profile-div > p {
  font-size: 1rem;
  font-weight: 600;
}
