header {
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--gap-lg) var(--gap-xl);
  background-color: var(--clr-primary);
  color: var(--clr-gray-300);
}

.logo-text{
  font-size: var(--fs-xl);
  font-weight: var(--font-weight-extrabold);
  font-family: var(--font-primary);
}

.logout-btn{
  padding: var(--gap-sm) var(--gap-lg);
  font-weight: var(--font-weight-semibold);
}
