header {
  padding: var(--gap-lg) var(--gap-xl);
  background-color: var(--clr-primary);
  color: var(--clr-gray-300);
}

.logo-text{
  font-size: var(--fs-xl);
  font-weight: 700;
}

.logout-btn{
  padding: var(--gap-base) var(--gap-lg);
  font-size: var(--fs-md);
}
