.home-bg {
  padding: 2rem;
  min-height: 92dvh;
}

.create-icon-div {
  right: 15px;
  bottom: 15px;
  padding: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--clr-primary);
  font-size: var(--fs-md);
  z-index: 99;
}

.create-icon{
  color: var(--clr-black);
  font-size: var(--fs-3xl);
  font-weight: 500;
}

.pin-icon{
  color: var(--clr-gray-200);
  font-size: var(--fs-xl);
  font-weight: 500;
}

.pin-icon:hover, .pin-active {
  color: var(--clr-gray-100);
}


@media screen and (min-width: 426px) {
  .notes-cards-container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (min-width: 768px) {
  .notes-cards-container{
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (min-width: 1024px) {
  .notes-cards-container{
    grid-template-columns: repeat(4,1fr);
  }
}