.notes-container {
  margin-top: 55px;
  padding: var(--gap-xl);
}

.create-icon-div {
  bottom: 16px;
  right: 16px;
  padding: var(--gap-base);
  width: 50px;
  height: 50px;
  font-size: var(--fs-md);
  border-radius: var(--br-full);
  background-color: var(--clr-primary);
  z-index: 99;
}

.create-icon {
  color: var(--clr-black);
  font-size: var(--fs-3xl);
}

.empty-container {
  height: 100dvh;
}

.empty-container > img {
  width: 100px;
  height: 100px;
}

.skeleton-card {
  padding: var(--gap-lg);
  background-color: var(--clr-gray-300);
  border: 2px solid var(--clr-gray-300);
  border-radius: var(--gap-base);
}

.skeleton-card > div {
  background-image: linear-gradient(
    to right,
    #3f3f3f 25%,
    #4f4f4f 50%,
    #3f3f3f 75%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: var(--br-base);
}

.skeleton-card > .title {
  margin-bottom: var(--gap-base);
  width: 60%;
  height: 20px;
}

.skeleton-card > .content {
  margin-bottom: var(--gap-base);
  width: 90%;
  height: 16px;
}

.skeleton-card > .timestamp {
  width: 45%;
  height: 12px;
}

@media screen and (min-width: 426px) {
  .notes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .notes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .notes-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
