.notes-container {
  padding: var(--gap-lg);
}

.create-icon-div {
  bottom: 16px;
  right: 16px;
  padding: var(--gap-base);
  width: 50px;
  height: 50px;
  font-size: var(--fs-md);
  border-radius: var(--br-full);
  background-color: var(--clr-primary);
  z-index: 99;
}

.create-icon {
  color: var(--clr-black);
  font-size: var(--fs-3xl);
}

@media screen and (min-width: 426px) {
  .notes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .notes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .notes-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
