@import url('./common.css');
@import url('./display.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 8px; /* default font size */
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a:hover{
  text-decoration: underline;
}

button {
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

:root {
  /* font sizes */
  --fs-xxxl: 3rem;  /* 24px */
  --fs-xxl: 2.5rem; /* 20px */
  --fs-xl: 2rem;   /* 16px */
  --fs-lg: 2.5rem;  /* 14px */
  --fs-md: 1.5rem;  /* 12px */
  --fs-sm: 1.25rem; /* 10px */
  --fs-base: 1rem; /* 8px */
  --fs-xs: 0.75rem; /* 6px */
  --fs-xxs: 0.5rem;  /* 4px */

  /* color schema */
  --clr-black: #181818;
  --clr-white: #f0f0f0;
  --clr-primary: #c09c10;
  --clr-gray-100: #d5d5d5;
  --clr-gray-200: #555555;
  --clr-gray-300: #2b2b2b;
}