@import url("./common.css");
@import url("./display.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 8px; /* default font size */
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-secondary);
  background-color: var(--clr-black);
  color: var(--clr-white);
}

:root {
  /* spacing */
  --gap-none: 0px;
  --gap-xs: 4px;
  --gap-sm: 6px;
  --gap-base: 8px;
  --gap-md: 10px;
  --gap-lg: 12px;
  --gap-xl: 16px;
  --gap-2xl: 20px;
  --gap-3xl: 24px;

  /* border radius */
  --br-none: 0px;
  --br-xs: 4px;
  --br-sm: 6px;
  --br-base: 8px;
  --br-md: 10px;
  --br-lg: 12px;
  --br-xl: 16px;
  --br-2xl: 20px;
  --br-3xl: 24px;
  --br-full: 100%;

  /* font size */
  --fs-xs: 0.5rem; /* 4px */
  --fs-sm: 0.75rem; /* 6px */
  --fs-base: 1rem; /* 8px */
  --fs-md: 1.25rem; /* 10px */
  --fs-lg: 1.5rem; /* 12px */
  --fs-xl: 2rem; /* 16px */
  --fs-2xl: 2.5rem; /* 20px */
  --fs-3xl: 3rem; /* 24px */

  /* font family */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Nato Sans", sans-serif;

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --font-weight-extrabold: 700;

  /* color schema */
  --clr-red: #d32424;
  --clr-black: #181818;
  --clr-white: #f5f5f5;
  --clr-primary:  #dbb728;
  --clr-gray-100: #d5d5d5;
  --clr-gray-200: #555555;
  --clr-gray-300: #2b2b2b;

  /* Toastify Variables */
  --toastify-font-family: var(--font-primary) !important;
}

li {
  list-style-type: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  font-weight: var(--font-weight-semibold);
}

a:hover {
  text-decoration: underline;
}

button {
  padding: var(--fs-md) var(--gap-lg);
  border-radius: var(--br-sm);
  font-size: var(--fs-lg);
  line-height: var(--fs-xl);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-primary);
  cursor: pointer;
  border: 2px solid;
  outline: 0;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin: 0 var(--gap-base) !important;
    border-radius: var(--br-sm) !important;
  }
}

/* Toastify custom styling  */
.Toastify__toast-container{
  top: 12px !important;
  padding: 0 !important;
}

.Toastify__toast-icon {
  width: 16px !important;
  height: 16px !important;
}

.Toastify__toast-body > div {
  font-size: var(--fs-lg) !important;
}

.Toastify__close-button{
  padding-right: var(--gap-sm) !important;
  align-self: center !important;
}