.note-container {
  margin-top: 54px; /* Header Height */
  padding: var(--gap-xl);
}

.note-title {
  padding-bottom: var(--gap-lg);
  font-size: var(--fs-2xl);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-primary);
  border-bottom: 2px solid var(--clr-gray-200);
}

.note-content {
  margin-top: var(--gap-md);
  font-size: var(--fs-lg);
  font-weight: var(--font-weight-semibold);
  line-height: var(--fs-xl);
}

.menu-options-bg {
  left: 0;
  bottom: 16px;
}

.menu-options-container {
  width: min(90%, 600px);
  padding: var(--gap-lg) var(--gap-base);
  border-radius: var(--br-base);
  background-color: var(--clr-gray-300);
  color: var(--clr-gray-100);
}

.menu-option {
  padding: var(--gap-md) var(--gap-lg);
  font-size: var(--fs-xl);
  border-radius: var(--br-base);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.menu-option:hover {
  background-color: var(--clr-gray-200);
}

.menu-text{
  display: none;
  font-size: var(--fs-lg);
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-primary);
}

@media screen and (min-width: 501px) {
  .menu-text {
    display: block;
  }
}