.note-container {
  margin-top: 57px;
  margin-bottom: 78px;
  padding: var(--gap-xl);
}

.note-title-container {
  padding-bottom: var(--gap-base);
  border-bottom: 2px solid var(--clr-gray-200);
}

.note-title {
  font-size: var(--fs-2xl);
  font-weight: var(--font-weight-bold);
}

.note-timestamp {
  font-size: var(--fs-lg);
  color: var(--clr-gray-100);
}

.note-content {
  max-width: 100%;
  margin-top: var(--gap-base);
  font-size: var(--fs-xl);
  overflow-wrap: break-word;
}

.skeleton-div {
  margin-bottom: var(--gap-lg);
  background-image: linear-gradient(
    to right,
    #3f3f3f 25%,
    #4f4f4f 50%,
    #3f3f3f 75%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: var(--br-base);
}

.title {
  width: 50%;
  height: 20px;
}

.divider {
  margin-bottom: var(--gap-lg);
  border-bottom: 2px solid var(--clr-gray-200);
}

.content {
  width: 100%;
  height: 16px;
}

.content:last-child {
  margin-bottom: 0;
  width: 75%;
}

.menu-options-bg {
  left: 0;
  bottom: 0;
  padding: var(--gap-xl) 0;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.menu-options-container {
  width: min(90%, 600px);
  padding: var(--gap-lg) var(--gap-base);
  border-radius: var(--br-base);
  background-color: var(--clr-gray-300);
  color: var(--clr-gray-100);
}

.menu-option {
  padding: var(--gap-md) var(--gap-lg);
  font-size: var(--fs-xl);
  border-radius: var(--br-base);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.menu-option:hover {
  background-color: var(--clr-gray-200);
}

.menu-option:hover .tooltip-container {
  display: block;
}

.menu-text {
  display: none;
  font-size: var(--fs-lg);
  font-weight: var(--font-weight-semibold);
}

@media screen and (min-width: 501px) {
  .menu-text {
    display: block;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
