.not-found-container {
  height: 100dvh;
}

.not-found-container > img {
  width: 300px;
  height: 180px;
}

.not-found-container > h1 {
  font-size: var(--gap-2xl);
  font-weight: var(--font-weight-bold);
}

.not-found-container > button {
  margin: var(--gap-sm);
  padding: var(--gap-lg) var(--gap-xl);
  font-size: var(--fs-xl);
}

.not-found-container > button:hover {
  border-color: var(--clr-white);
}
