.share-text {
  font-size: var(--fs-lg);
  font-weight: var(--font-weight-semibold);
}

.link {
  padding: var(--gap-lg);
  border-radius: var(--br-sm);
  background: rgba(0, 0, 0, 0.3);
  color: var(--clr-gray-100);
  font-size: var(--fs-md);
  font-weight: var(--font-weight-semibold);
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: 0;
  border: 0;
}

.info-icon {
  width: 10px;
  height: 10px;
}

.info-text {
  font-size: var(--fs-base);
}
