.shared-note-container {
  margin-top: 57px;
  padding: var(--gap-xl);
}

.shared-note-title-container {
  padding-bottom:  var(--gap-base);
  border-bottom: 2px solid var(--clr-gray-200);
}

.shared-note-title {
  font-size: var(--fs-2xl);
  font-weight: var(--font-weight-bold);
}

.shared-note-timestamp {
  font-size: var(--fs-lg);
  color: var(--clr-gray-100);
}

.shared-note-content {
  margin-top: var(--gap-base);
  font-size: var(--fs-xl);
  overflow-wrap: break-word;
}

.shared-note-empty-container {
  height: 100dvh;
}

.shared-note-broken-link {
  width: 100px;
  height: 100px;
}

.shared-note-container > button:hover {
  border-color: var(--clr-white);
}
